<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bem-vindo à Biblioteca</title>
</head>
<body>
<h1>Sistema de Biblioteca</h1>
<p>Deseja adicionar um novo membro?</p>

<a th:href="@{/membros/novo}">SIM! Adicionar Membro</a>

</body>
</html>