<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Membro</title>
</head>
<body>
<h1>Cadastrar Novo Membro</h1>
<form th:action="@{/membros/salvar}" th:object="${membro}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required><br><br>

    <label for="sobrenome">Sobrenome:</label>
    <input type="text" id="sobrenome" name="sobrenome" required><br><br>

    <label for="data_entrada">Data de Entrada:</label>
    <input type="date" id="data_entrada" name="data_entrada" required><br><br>

    <label for="status">Status:</label>
    <input type="text" id="status" name="status_id" required><br><br>
    <button type="submit">Salvar</button>
</form>
</body>
</html>